html {
    background-color: aquamarine;
}




.first {
    font-family: Tahoma, sans-serif;
    font-size: 30px;
}

.first h1{
    background-color: black;
    color: rgb(230, 227, 10);
    text-align: center;
    font-size: 30px;
}

.second {
    font-family: Tahoma, sans-serif;
    font-size: 30px; 
}

.second h1{
    background-color: black;
    color: rgb(230, 227, 10);
    text-align: center;
    font-size: 30px;
}



.foot ul{
    margin: 0;
    padding: 0;
 }

 .foot li{
    list-style: none;
    float: left;
    margin-right: 50px;
    margin-top: 20px;

 }

 .foot a{
    display: block;
    background-color: rgb(60, 252, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 3px 30px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 8px;


}

.foot a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
